<div class="warning">
    <p>NOTE: This document is being persued as an Internet-Draft for standardisation with the IETF.</p>
    <p>This page is out of date, and you should look here for the document that replaces this:</p>
    <p>
        <a href="{{ page.ietf }}">[Internet-Draft]</a> -
        <a href="{{ page.ietf-html-editors-copy }}">[Editor's HTML Draft]</a> -
        <a href="{{ page.ietf-txt-editors-copy }}">[Editor's TXT Draft]</a> -
        <a href="https://github.com/DanielOaks/irc-rfcs">[Github]</a>
    </p>
</div>
