<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>
        <title>{{ page.title }}</title>
        
        <link href="/css/open-sans.css" rel="stylesheet" type="text/css" />
        <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/pure-min.css" rel="stylesheet" type="text/css" />
        <link href="/css/screen.css" rel="stylesheet" type="text/css" />

        <script src="/js/anchor.min.js"></script>
        <script src="/js/toc.js"></script>

        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <script>
            // enable dark mode
            if (document.cookie == "darkmode=true") {
                document.body.classList.add("dark");
            }
        </script>
        {% if page.wip %}
        <div id="wiptag">
            <span class="detail">This document is a heavy work in progress<br/>and should not be considered complete</span>
        </div>
        {% endif %}
        {% if page.ietf %}
        <div id="ietftag">
            <span class="detail">This document is now being worked on as an<br/>Internet-Draft which you can find <a href="{{ page.ietf }}">here</a> and <a href="{{ page.ietf-editors-copy }}">here</a></span>
        </div>
        {% endif %}
        <a onclick="toggledarkmode()" id="darkmodebtn"><i class="fa fa-sun-o show-when-dark"></i><i class="fa fa-moon-o show-when-light"></i></a>
        <div id="show-toc" onclick=""><div onclick="">Table of Contents</div></div>
        <div id="toc-popup" style="display: none"><div onclick="">
            <h2>Table of Contents</h2>
            <div onclick="" id="table-of-contents"></div>
        </div></div>

            <div id="nav"><div>
                <nav>
                    <a href="/about.html" title="Modern IRC Documents">horse docs</a>
                    <a href="/index.html" title="Modern IRC Client Protocol"><i class="fa fa-exchange"></i> client protocol</a>
                    <a href="/formatting.html" title="IRC Formatting"><i class="fa fa-paint-brush"></i> formatting</a>
                    <a href="/ctcp.html" title="Client-to-Client Protocol"><i class="fa fa-repeat"></i> ctcp</a>
                    <a href="/dcc.html" title="Direct Client-to-Client Protocol"><i class="fa fa-download"></i> dcc</a>
                </nav>
            </div></div>
        <div id="wrapper">
            <div id="content">
                <h1>{{ page.title }}</h1>

                <div id="spec">
                    {{ content }}
                </div>
            </div>
        </div>
        <div id="footer">
            <hr/>
            <p>The canonical version of this document is hosted at <a href="http://modern.ircdocs.horse/">http://modern.ircdocs.horse</a></p>
            <p>You can talk to us at <a href="ircs://irc.freenode.net:6697/#ircdocs">#ircdocs on Freenode</a></p>
            <p>Pull requests may be submitted to and the source code for it can be found at<br/><a href="https://github.com/ircdocs/modern-irc">http://github.com/ircdocs/modern-irc</a></p>
        </div>
    </body>
    <script>
        anchors.options = {
            placement: 'right',
            class: 'anchor',
        };
        anchors.add('#spec h1, #spec h2, #spec h3, #spec h4, #spec h5, #spec .figure');

        function toggledarkmode() {
            document.body.classList.toggle("dark");
            if (document.body.classList.contains("dark")) {
                document.cookie = "darkmode=true";
            } else {
                document.cookie = "darkmode=false";
            }
        }
    </script>
</html>
